In [1]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [3]:
for n in even:
    print (n, end = ' ')

0 2 4 6 8 10 12 14 16 18 20

In [6]:
x = 0
while x <= 20:
    print(x, end = " ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [7]:
x = 0
while x <= 20:
    print(x, end = " ")
    x += 2

0 2 4 6 8 10 12 14 16 18 20

Create lists with the range

In [8]:
range(10)
#works with 3 arguments
#range(start, stop, step)

range(0, 10)

In [9]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
range(3,7)

range(3, 7)

In [11]:
list(range(3,7))

[3, 4, 5, 6]

In [12]:
range(1,20,2)

range(1, 20, 2)

In [13]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Use conditional STATEMENTS AND LOOPS

In [15]:
for n in range(10):
    print(2 ** n, end =" ")

1 2 4 8 16 32 64 128 256 512

In [16]:
for x in range(20):
    if x % 2 == 0:
        print(x, end = " ")
    else:
        print("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [17]:
x = [0,1,2]

for item in x:
    print(item, end =" ")

0 1 2

In [18]:
for item in range(len(x)):
    print(x[item], end =" ")

0 1 2

ALL IN

In [22]:
def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

list_1 = [1,3,7,15,23,43,56,98, 20]
count(list_1)

4

Iterating over Dictionaries

In [23]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna" : 5,
    "hamburger": 2,
}
quantity ={
    "box_of_spaghetti" : 6,
    "lasagna" : 10,
    "hamburger": 0,
}

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i] * quantity[i])
    
print(money_spent)

74